<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>ツイートの一覧</h1>
      <%= link_to "ツイートの投稿", new_tweet_path, class: 'btn btn-default' %>
    <% @tweets.each do |tweet| %>
    <div class="row">
      <p>投稿時刻：<%= tweet.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      <p><%= tweet.content %></p>
      <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
<div id="page-tweets-top-btn" class="page-tweets-top-btn">
    <p><a class="move-page-tweets-top" id="move-page-tweets-top">▲</a></p>
</div>
